@import 'lib/normalize'

smog = #464D5C
charcoal = #424D4E
droidBot = #A4C639
pastelGreen = #D1E29C
decayl = #E4EBCE
ebonics = #F0F0F0
lagoon = #40B6BC

h2
  color smog

body
  background-color:pastelGreen

.hide
  display none

#header
  height 30px
  
#container
  width 100%

notifications-width = 200px
bar-height = 30px

#nameChanger
  margin-left: 50px;
  margin-bottom: 5px;

#users
  margin-right notifications-width
  float left
  .user-container
    float left
    width 150px
    height 150px
    margin 10px
    background decayl
    border-style solid
    border-width 5px
    border-color charcoal
    word-wrap break-word

#notifications
  margin-right 0px
  float right
  .notification-container
    width notifications-width
    height 150px
    margin 10px
    background decayl
    border-style solid
    border-width 5px
    border-color charcoal
    word-wrap break-word
    .box
      height bar-height
      width notifications-width
      background decayl
      position relative
      .bar
        height bar-height
        background lagoon
        .bar-text
          position absolute
          top 0
          left 0
          text-align center
          width 100%

