@import 'lib/normalize'

h2
  color #464D5C

body
  background-color:#D1E29C

.hide
  display none

#header
  height 30px
  
#container
  width 100%

notifications-width = 200px

smog = #464D5C
charcoal = #424D4E
droidBot = #A4C639
pastelGreen = #D1E29C
decayl = #E4EBCE
ebonics = #F0F0F0
lagoon = #40B6BC

#nameChanger
  margin-left: 50px;
  margin-bottom: 5px;

#users
  margin-right notifications-width
  float left
  .user-container
    float left
    width 150px
    height 150px
    margin 10px
    background decayl
    border-style solid
    border-width 5px
    border-color charcoal
    word-wrap break-word

#notifications
  width notifications-width
  float right

